*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.popup-delete {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-content: center;
}

.popup-content {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgb(0 0 0/15%);
    padding: 1rem;
    position: absolute;
    top: -100%;
    left: 50%;
    text-align: center;
    width: 400px;
    transform: translate(-50%, -50%);
    transition: all .5s;
    opacity: 0;
}

.popup-icon {
    border-radius: 50px;
    width: 120px;
    height: 120px;
    margin-top: -70%;
}

.popup-content h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.btn-yes {
    background: red;
    color: white;
    width: 50px;
    border: red;
    border-radius: 5px;
    margin: 2px;
}

.btn-no {
    background-color: #0dcaf0;
    color: white;
    width: 45px;
    border: #0dcaf0;
    border-radius: 5px;
    margin: 2px;
}

.popup-content.open {
    opacity: 1;
    top: 50%;
}
