* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #efefef4a;
  overflow: scroll;
}


.nav-link:hover {
  background: #efefef;
  border-radius: 0.25rem;
}

.search-section {

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.search-section h1 {
  width: 50%;
}

.search-form {
  width: 50%;
}

.search-form input {
  outline: none;
  width: 80%;
  background: rgb(178, 178, 178);
  padding: 10px;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.search-form .btn {
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  background-color: #198754;
  border-color: #198754;
  font-size: 15px;
}

.search-form .btn:hover {
  color: #fff;
  background-color: #157347;
  border-color: #146c43;
}

.form-control {
  background: #efefef4a;
  background: #fff;
}

.form-group {
  margin-top: 50px;
}

.form-controls-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 2.5rem;
}

@media (max-width: 800px) {
  .form-controls-content {
    gap: 0;
  }
}

.form-controls-content input,
.fr-controls input {
  margin-bottom: 10px;
}

.btn-primary {
  width: 200px;
}

/* -------- */
.list-candidature {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, auto));
  align-items: center;
  gap: 2.5rem;
  margin-top: 5rem;
}

.candidature-info {
  background-color: rgba(70, 71, 71, 0.781);
  color: white;
  font-weight: bold;
  padding: 35px 45px;
  border-radius: 8px;
  translate: all .45s ease;
  transition: all .45s ease;
}

.candidature-info h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.candidature-info p {
  font-size: 1rem;
  line-height: .5;
  margin-bottom: 25px;
}

.candidature-info .btns {
  display: flex;
  justify-content:center;
  gap: .5rem;
}

.read-cv,
.btn-delete,
.btn-details {
  display: inline-block;
  padding: 8px 18px;
  background-color: #333333;
  color: white;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  transition: all .45s ease;
  text-decoration: none;
}

.btn-delete {
  background-color: red;
  border: none;
}

.btn-details {
  background-color: #0dcaf0;
  border: none;
}

.btn-cv {
  width: 150px;
}

.read-cv:hover,
.btn-delete:hover,
.btn-details:hover {
  letter-spacing: 1px;
  color: whitesmoke;
}

